body {
  width: 100%;
  background-color: rgb(6, 37, 49);
}
.header-class {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  padding: 20px;
  color: white;
  justify-content: center;
  align-items: center;
}